body {
    background: #E3EF9F;
}

aside{
    float: left;
    background: #91a145;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid#4d4d4d;
}

aside img{
    width: 80px;
    float: right;
}

aside .logo{
    font-size: 80px;
    margin-lift: 60px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3{
    margin-top: 58px;
    font-size: 28px;
}

aside ul{list-style:none}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #808080;
    text-decoration: none;
    transform: scale(1.05);
}
