body {
    background: #E3EF9F;
}

aside{
    float: left ;
    background: #91a145;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 4px solid#4B371C;
}

aside img{
    width: 100px;
    float: right;
}

aside .logo{
    font-size: 50px;
    margin-right: 80px;
    font-weight: bold;
    position: relative;
    top: -80px;
}

aside h3{
    margin-top: -30px;
    font-size: 30px;
}

aside ul{list-style:none}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    margin-left: -30px;
    transition: transform .3s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #000000;
    text-decoration: none;
    transform: scale(1.05);
}

main .main_info {
    float: left;
    color: #000000;
    margin-top:100px;
    text-align: center ;
    width: 80%;
}

main .master_info {
    float: left;
    color: #000000;
    margin-top:100px;
    text-align: center ;
    width: 80%;
} {
    float: left;
    color: #000000;
    margin-top:100px;
    text-align: center ;
    width: 80%;
}
main .main_info h1 {front-size: 100px}
main .main_info p{max-width: 400px: margin: 20px auto}

main .master_info h1 {front-size: 100px}
main .master_info p{max-width: 400px: margin: 20px auto}