body {
    background: #E3EF9F;
}

aside{
    float: left;
    background: #91a145;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 4px solid#4B371C;
}

aside img{
    width: 100px;
    float: right;
}

aside .logo{
    font-size: 50px;
    margin-right: 80px;
    font-weight: bold;
    position: relative;
    top: -80px;
}

aside h3{
    margin-top: -30px;
    font-size: 30px;
}

aside ul{list-style:none}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    margin-left: -30px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #808080;
    text-decoration: none;
    transform: scale(1.05);
}

