{% extends 'mainpage/layout.html' %}

{% block title %}Мастер{%endblock%}

{% block mainContent %}
        <div class="master_info">
                <h1>Привет!</h1>
                <p>
                       Привет! Я являюсь тату мастером с многолетним опытом работы. Я специализируюсь на создании уникальных и креативных татуировок, которые помогут моим клиентам выразить свою индивидуальность и стиль.

                        Моё увлечение татуировками началось еще в подростковом возрасте, когда я понял, что хочу делать искусство на теле. С тех пор я постоянно совершенствую свои навыки и техники, чтобы предложить своим клиентам лучшее качество и результат.

                        Я работаю с различными стилями татуировок, включая черно-белые, цветные, минималистические, реалистичные и геометрические. Я также специализируюсь на кастомных дизайнах, которые создаются индивидуально для каждого клиента, чтобы подчеркнуть их уникальность.

                        Мое главное приоритет - это безопасность и гигиена. Я всегда следую строгим стандартам безопасности, использую только высококачественные материалы и оборудование, чтобы обеспечить безопасность и комфорт моих клиентов.

                        Я люблю свою работу и стремлюсь к тому, чтобы каждая татуировка, которую я делаю, была не просто красива, но и значима для моих клиентов. Я верю, что татуировка - это не просто украшение, это выражение индивидуальности и часть человеческого искусства.

                        Если вы ищете опытного и талантливого тату мастера, который поможет вам воплотить ваши идеи на теле, обращайтесь ко мне. Я всегда готов воплотить ваши самые смелые татуировочные мечты в реальность.
                </p>
               <form action="registration/" target="_blank">
                        <button class ="btn btn-warning">Записаться на сеанс</button>
               </form>
        </div>
{% endblock %}