{% extends 'mainpage/layout.html' %}

{% block title %}Мастер{%endblock%}

{% block mainContent %}
        <div class="master_info">
                <h1>Привет!</h1>
                <p>
                        Меня зовут Полина, и я тату мастер с опытом работы более двух лет. Я страстно увлечена татуировками и всегда стремлюсь к совершенству в каждой работе, которую делаю.

Мой стиль работы - это уникальные и индивидуальные дизайны, которые отражают личность и вкусы моих клиентов. Я постоянно ищу вдохновение в различных искусствах и культурах, чтобы создавать удивительные и креативные татуировки.

Я также очень бережно отношусь к гигиене и безопасности, и всегда использую только самые высококачественные материалы. Для меня очень важно, чтобы мои клиенты чувствовали себя комфортно и уверенно в моей студии.

Если вы ищете тату мастера, который создаст для вас уникальное и качественное тату, то обязательно свяжитесь со мной. Я с нетерпением жду возможности помочь вам выразить себя через искусство татуировки.</p>
                <button class ="btn btn-warning">Записаться к мастеру</button>
        </div>
{% endblock %}