{% extends 'mainpage/layout.html' %}

{% block title %} Контакты{% endblock%}

{% block mainContent %}
        <div class="contact">
                <h1> Мы находимся здесь:</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1309.2314421738756!2d84.93919228846073!3d56.50468821462933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1703497789126!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Для связи с нами:</p>
                <form action="https://vk.com/smile__tattoo" target="_blank">
                        <button class ="btn btn-warning">Наш ВК</button>
                </form>
                <p> </p>
                <form action="https://t.me/low_digital" target="_blank">
                        <button class ="btn btn-warning">Наш ТГ канал</button>
                </form>
                <p></p>
                <p1>Наша почта: aaaa@gmail.com</p1>
        </div>
{% endblock %}
