{% extends 'mainpage/layout.html' %}

{% block title %} Главная страница{%  endblock%}

{% block mainContent %}
        <div class="main_info">
                <h1>{{title}}</h1>
                <p>

                        Мы рады приветствовать вас на нашем сайте, где вы можете ознакомиться с нашей работой, узнать информацию о наших мастерах и услугах, а также найти ответы на часто задаваемые вопросы.

                        Наша студия предлагает широкий спектр услуг, от классических татуировок до уникального дизайна по вашему индивидуальному заказу.Мы работаем только с квалифицированными мастерами, используем только качественные материалы и строго соблюдаем стандарты гигиены.

                        Мы стремимся создать комфортную и дружественную атмосферу для наших клиентов, где каждый может почувствовать себя уютно и уверенно.

                        Мы верим, что татуировка - это не просто украшение тела, но и форма самовыражения и искусства. Мы гордимся тем, что помогаем нашим клиентам воплотить свои идеи и мечты в реальность.

                        Мы всегда готовы ответить на ваши вопросы и предоставить вам консультацию, чтобы помочь вам принять правильное решение.

                        Свяжитесь с нами, чтобы записаться на прием или уточнить любую информацию. Мы с нетерпением ждем встречи с вами!</p>
                <button class ="btn btn-warning">Оставить заявку на сеанс</button>
        </div>
{% endblock %}

